<p>hero-list works!</p>
<div class="container">
    <div class="row">
        <div class="col-6">
            <form action="">
                <div class="form-group">
                    <label for="">ID</label>
                    <input type="text" name="id" (change)="updateFormAttr('id', $event.target.value)" [value]="formObject.id" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Name</label>
                    <input type="text" name="name" (change)="updateFormAttr('name', $event.target.value)" [value]="formObject.name" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Image</label>
                    <input type="text" name="image" (change)="updateFormAttr('image', $event.target.value)" [value]="formObject.image" class="form-control">
                </div>
                <div class="form-check" *ngFor="let formSkill of listSkill">
                    <input class="form-check-input" [checked]="checkboxStatus(formSkill.id)" type="checkbox" id="skill-{{formSkill.id}}">
                    <label class="form-check-label" for="skill-{{formSkill.id}}">
                        {{formSkill.name}}
                    </label>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary" type="submit">Save</button>
                </div>
            </form>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-3" *ngFor="let hero of heroes">
            <img [src]="hero.image" class="img-thumbnail">
            <p>
                <strong>{{hero.name}}</strong>
            </p>
            <div *ngIf="hero.skills != undefined">
                <span *ngFor="let skill of hero.skills" class="badge text-white bg-success">{{skill.name}}</span>
            </div>
        </div>
    </div>
</div>