<table class="table table-striped">
    <thead>
        <th>#</th>
        <th>Tên danh mục</th>
        <th>Số lượng sách</th>
        <th>
            <a href="javascript:;" class="btn btn-success"
                routerLink="/admin/danh-muc/add">Thêm mới</a>
        </th>
    </thead>
    <tbody>
        <tr *ngFor="let cate of cates;index as i">
            <td>{{i+1}}</td>
            <td>{{ cate.name | titlecase}}</td>
            <td>{{ cate.books.length}}</td>
            <td>
                <a href="javascript:;" class="btn btn-info"
                routerLink="/admin/danh-muc/edit/{{cate.id}}">Sửa</a>
                &nbsp;
                <a href="javascript:;" class="btn btn-danger" >Xóa</a>
            </td>
        </tr>
    </tbody>
</table>